.total{
    background-image: url("./img/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.body2{
    background-image: url("./img/bac4.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.body3{
    background-image: url("./img/bac3.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}