.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 全局滚动条样式 */
*::-webkit-scrollbar {
  width: 12px; /* 垂直滚动条的宽度 */
  height: 12px; /* 水平滚动条的高度 */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道的背景色 */
  border-radius: 10px; /* 圆角 */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* 滚动条滑块的背景色 */
  border-radius: 10px; /* 圆角 */
  border: 3px solid #f1f1f1; /* 滑块的边框，使其看起来更圆润 */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时滚动条滑块的背景色 */
}